
html {
    height: auto;
    width: auto;
    margin: auto;
}

body {
    font-family: source-sans-pro, serif;
    font-size: 16px;
    margin: 1;
    padding: 0;
    height: 100%;
    
}
div{
	padding: 10px;
}

