<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.coenraets.employeedirectory"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Accelerometer Test</name>

    <description>
        This app will connect to a labview server and will send data measurements back and forth to the LabVIEW server. Essentially the phone will be a sensor and the LabVIEW server will be an indicator. 
    </description>

    <author email="jmaupin82@gmail.com">
        Joel Maupin
    </author>

    <feature name="Accelerometer">
      <param name="android-package" value="org.apache.cordova.AccelListener"/>
    </feature>
</widget>
